#include <windows.h>
#include "resource.h"

// Vulnerable drivers - embedded as binary resources
IDR_DRIVER_LD9BOXSUP      RCDATA "..\\..\\resources\\Ld9BoxSup.sys"
IDR_DRIVER_THROTTLESTOP   RCDATA "..\\..\\resources\\ThrottleStop.sys"

// Hypervisor payload (PE driver with .ombra section)
IDR_PAYLOAD_HYPERVISOR    RCDATA "..\\..\\resources\\hypervisor.sys"
